.header {
    display: grid;
    grid-template-areas:
    " q q s s w w c c p p"
    
    ;
}
.welcome{
    grid-area: w;
}
.school{
    grid-area: s;
}
.class{
    grid-area: c;
}

.main{
    display: grid;
    grid-template-areas: 
    "r r n g g g g u f f"
    "a a a a a a a a a a"
    "j j n n e e x x z z"
    ;
}
.game{
    grid-area: g;
}
.dini{
    grid-area: r;
}
.farsi{
    grid-area: f;
}
.arabi{
    grid-area: a;
}
.joghrafia{
    grid-area: j;
}
.zaban{
    grid-area: z;
}
